In [41]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [51]:
data_train = pd.read_csv("Data/train.csv")
data_test = pd.read_csv("Data/test.csv")

In [52]:
data_train.shape, data_test.shape

((891, 12), (418, 11))

In [53]:
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [54]:
data_train['Embarked'].fillna('U', inplace=True)
data_train['Cabin'].fillna('U', inplace=True)
data_train['Parch'].fillna(0, inplace=True)
data_train['SibSp'].fillna(0, inplace=True)
data_train['Age'].fillna(data_train['Age'].mean(), inplace=True)
data_train['Sex'].fillna('U', inplace=True)
data_train['Pclass'].fillna(0, inplace=True)

In [55]:
dummies = pd.get_dummies(data['Sex'])
data_train = pd.concat([data_train, dummies], axis=1)
data_train.shape

(891, 14)

In [56]:
dummies = pd.get_dummies(data['Cabin'])
data_train = pd.concat([data_train, dummies], axis=1)
data_train.shape

(891, 161)

In [57]:
dummies = pd.get_dummies(data['Embarked'])
data_train = pd.concat([data_train, dummies], axis=1)
data_train.shape

(891, 164)

In [58]:
data_train = data_train.drop(columns=['Sex', 'Cabin', 'Embarked', 'Name', 'PassengerId', 'Ticket'])

In [59]:
data_train.shape

(891, 158)

In [60]:
Y = data_train['Survived']
X = data_train.drop(columns=['Survived'])

In [66]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.10, random_state=42)

In [67]:
clf = LogisticRegression()

In [68]:
clf.fit(x_train, y_train)

/Users/preritgarg/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [69]:
clf.score(x_train, y_train)

0.8139825218476904

In [70]:
clf.score(x_test, y_test)

0.8333333333333334